/* Styles par défaut */
.home {
    padding: 35px;
    padding-left: 65px;
    color: hsl(0, 0%, 12%);
    height: 100vh;
}

.h1-text {
    font-size: 75px;
}

.cat {
    font-size: 30px;
}

.wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.rest-box {
    margin-top: 45px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
}

.all-budgets {
    padding: 15px;
    padding-left: 0;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    width: 100%;
}

.budget-box {
    padding: 35px;
    margin: 15px;
    border-radius: 5px;
    border: 1px solid hsl(218, 72%, 53%);
    display: flex;
    gap: 20px;
    flex-direction: column;
}

.budget-box .prog-text {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    color: hsl(218, 72%, 53%);
    font-size: 25px;
}

.prog-text .p-small {
    font-size: 15px;
}

.for-details {
    color: white;
    cursor: pointer;
    display: flex;
    outline: none;
    border: none;
    justify-content: center;
    align-items: center;
    gap: 12px;
    background-color: hsl(218, 72%, 53%);
    padding: 12px;
    font-size: 16px;
    border-radius: 4px;
}

.budget-box:nth-child(2n+1) {
    border-color: hsl(0, 0%, 12%);
}

.budget-box:nth-child(2n+1) .prog-text {
    color: hsl(0, 0%, 12%);
}

.budget-box:nth-child(2n+1) .for-details, .budget-box:nth-child(2n+1) .progress {
    background-color: hsl(0, 0%, 12%);
}

/* Styles pour les petits écrans */
@media (max-width: 768px) {
    .home {
        padding: 20px;
        padding-left: 30px;
        height: auto; /* Ajuste la hauteur */
    }

    .h1-text {
        font-size: 50px;
    }

    .cat {
        font-size: 24px;
    }

    .all-budgets {
        grid-template-columns: repeat(2, 1fr); /* Deux colonnes sur les écrans moyens */
        gap: 15px;
    }

    .budget-box {
        padding: 25px;
        margin: 10px;
        font-size: 14px;
    }

    .budget-box .prog-text {
        font-size: 20px;
    }

    .for-details {
        font-size: 14px;
        padding: 10px;
    }
}

/* Styles pour les très petits écrans */
@media (max-width: 480px) {
    .home {
        padding: 15px;
        padding-left: 20px;
        height: auto; /* Ajuste la hauteur */
    }

    .h1-text {
        font-size: 35px;
    }

    .cat {
        font-size: 20px;
    }

    .all-budgets {
        grid-template-columns: 1fr; /* Une seule colonne sur les petits écrans */
        gap: 20px;
    }

    .budget-box {
        padding: 15px;
        margin: 5px;
        font-size: 12px;
    }

    .budget-box .prog-text {
        font-size: 16px;
    }

    .for-details {
        font-size: 12px;
        padding: 8px;
    }
}
