/* Styles par défaut */
.expense-table {
    width: 100%;
    border-collapse: collapse;
    border-radius: 7px;
    margin: 20px 0;
    font-size: 18px;
    text-align: center;
}

.expense-table th,
.expense-table td {
    padding: 10px 13px;
    border: 1px solid #ddd;
}

.expense-table thead tr {
    background-color: hsl(218, 72%, 53%);
    color: #ffffff;
    text-align: left;
    font-weight: bold;
}

.expense-table tbody tr {
    border-bottom: 1px solid #ddd;
}

.expense-table tbody tr:nth-of-type(even) {
    background-color: #316fde1a;
}

.expense-table tbody tr:last-of-type {
    border-bottom: 2px solid hsl(218, 72%, 53%);
}

.expense-table tbody .for-sup {
    margin: auto;
}

/* Styles pour les petits écrans */
@media (max-width: 768px) {
    .expense-table {
        font-size: 16px;
    }

    .expense-table th,
    .expense-table td {
        padding: 8px 10px;
    }
}

/* Styles pour les très petits écrans */
@media (max-width: 480px) {
    .expense-table {
        font-size: 14px;
    }

    .expense-table th,
    .expense-table td {
        padding: 6px 8px;
    }

    .expense-table thead {
        display: none; /* Masque l'en-tête pour les très petits écrans */
    }

    .expense-table, 
    .expense-table tbody, 
    .expense-table tr, 
    .expense-table td {
        display: block;
        width: 100%;
    }

    .expense-table tr {
        margin-bottom: 10px;
    }

    .expense-table td {
        text-align: left;
        padding-right: 50%;
        position: relative;
    }

    .expense-table td::before {
        content: attr(data-label);
        position: absolute;
        left: 0;
        width: 50%;
        padding-left: 15px;
        font-weight: bold;
        text-align: left;
    }
}
