@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');
@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));

* {
  font-family: 'Rubik', sans-serif;
  box-sizing: border-box;
}


html {
  scroll-behavior: smooth;
}

:root {
  --background-color-light: #f7fcfd;
  --background-color-dark: #171717;
}

.bg-theme-light {
  background-color: var(--background-color-light);
}

.bg-theme-dark {
  background-color: var(--background-color-dark);
}

.bg-theme-light,
.bg-theme-dark {
  transition: background-color 0.5s ease-in-out;
}
