@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');
@import 'tailwindcss';

@custom-variant dark (&:where([data-theme=dark], [data-theme=dark] *));

* {
  font-family: 'Rubik', sans-serif;
  box-sizing: border-box;
}

html,
body {
  scroll-behavior: smooth;
  background-color: var(--background-color-light);
}

html[data-theme='dark'],
body[data-theme='dark'] {
  background-color: var(--background-color-dark);
}

:root {
  --background-color-light: #f7fcfd;
  --background-color-dark: #171717;
}

.bg-theme-light {
  background-color: var(--background-color-light);
}

.bg-theme-dark {
  background-color: var(--background-color-dark);
}

.bg-theme-light,
.bg-theme-dark {
  transition: background-color 0.5s ease-in-out;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.no-scrollbar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
